Car.Com.Service/Web References/Kbb/PricingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.aic.com/KBB/WebServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.aic.com/KBB/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.aic.com/KBB/WebServices">
      <s:element name="GetConditionQuestions">
        <s:complexType />
      </s:element>
      <s:element name="GetConditionQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConditionQuestionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SystemError">
                    <s:complexType>
                      <s:attribute name="code" type="s:string" />
                      <s:attribute name="message" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="UserError" type="tns:ArrayOfString" />
                  <s:element minOccurs="0" maxOccurs="1" name="DataVersion">
                    <s:complexType>
                      <s:attribute name="Number" type="s:string" />
                      <s:attribute name="Date" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="Years" type="tns:ArrayOfYear" />
                  <s:element minOccurs="0" maxOccurs="1" name="VehicleConditions" type="tns:ArrayOfQuestion" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfYear">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Year">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="Make">
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="0" maxOccurs="unbounded" name="Trim">
                        <s:complexType>
                          <s:sequence>
                            <s:element minOccurs="0" maxOccurs="unbounded" name="VehicleValue">
                              <s:complexType>
                                <s:attribute name="ValueType" type="s:string" />
                                <s:attribute name="Condition" type="s:string" />
                                <s:attribute name="Value" type="s:string" />
                                <s:attribute name="ZipCode" type="s:string" />
                                <s:attribute name="Mileage" type="s:string" />
                              </s:complexType>
                            </s:element>
                            <s:element minOccurs="0" maxOccurs="1" name="mileage" type="s:string" />
                            <s:element minOccurs="0" maxOccurs="1" name="Equipments" type="tns:ArrayOfEquipment" />
                          </s:sequence>
                          <s:attribute name="ModelID" type="s:string" />
                          <s:attribute name="ModelDesc" type="s:string" />
                          <s:attribute name="Category" type="s:string" />
                          <s:attribute name="TrimDesc" type="s:string" />
                          <s:attribute name="AdMakeDesc" type="s:string" />
                          <s:attribute name="AdModelDesc" type="s:string" />
                        </s:complexType>
                      </s:element>
                    </s:sequence>
                    <s:attribute name="Description" type="s:string" />
                  </s:complexType>
                </s:element>
              </s:sequence>
              <s:attribute name="ModelYear" type="s:string" />
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEquipment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Equipment">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="ExcludedEquipment">
                  <s:complexType>
                    <s:attribute name="Code" type="s:string" />
                  </s:complexType>
                </s:element>
                <s:element minOccurs="0" maxOccurs="unbounded" name="IncludedEquipment">
                  <s:complexType>
                    <s:attribute name="Code" type="s:string" />
                  </s:complexType>
                </s:element>
              </s:sequence>
              <s:attribute name="Code" type="s:string" />
              <s:attribute name="GroupCode" type="s:string" />
              <s:attribute name="Description" type="s:string" />
              <s:attribute name="DisplayOrder" type="s:string" />
              <s:attribute name="PreSelected" type="s:string" />
              <s:attribute name="RequiredFromGroup" type="s:string" />
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Question">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="unbounded" name="Answer">
                  <s:complexType>
                    <s:attribute name="Description" type="s:string" />
                    <s:attribute name="AnswerID" type="s:string" />
                  </s:complexType>
                </s:element>
              </s:sequence>
              <s:attribute name="QuestionID" type="s:string" />
              <s:attribute name="AnswerID" type="s:string" />
              <s:attribute name="Description" type="s:string" />
              <s:attribute name="Category" type="s:string" />
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetEquipmentsByVehicleID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VehicleID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEquipmentsByVehicleIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEquipmentsByVehicleIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SystemError">
                    <s:complexType>
                      <s:attribute name="code" type="s:string" />
                      <s:attribute name="message" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="UserError" type="tns:ArrayOfString" />
                  <s:element minOccurs="0" maxOccurs="1" name="DataVersion">
                    <s:complexType>
                      <s:attribute name="Number" type="s:string" />
                      <s:attribute name="Date" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="Years" type="tns:ArrayOfYear" />
                  <s:element minOccurs="0" maxOccurs="1" name="VehicleConditions" type="tns:ArrayOfQuestion" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYearList">
        <s:complexType />
      </s:element>
      <s:element name="GetYearListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYearListResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SystemError">
                    <s:complexType>
                      <s:attribute name="code" type="s:string" />
                      <s:attribute name="message" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="UserError" type="tns:ArrayOfString" />
                  <s:element minOccurs="0" maxOccurs="1" name="DataVersion">
                    <s:complexType>
                      <s:attribute name="Number" type="s:string" />
                      <s:attribute name="Date" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="Years" type="tns:ArrayOfYear" />
                  <s:element minOccurs="0" maxOccurs="1" name="VehicleConditions" type="tns:ArrayOfQuestion" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMakeByYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMakeByYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMakeByYearResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SystemError">
                    <s:complexType>
                      <s:attribute name="code" type="s:string" />
                      <s:attribute name="message" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="UserError" type="tns:ArrayOfString" />
                  <s:element minOccurs="0" maxOccurs="1" name="DataVersion">
                    <s:complexType>
                      <s:attribute name="Number" type="s:string" />
                      <s:attribute name="Date" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="Years" type="tns:ArrayOfYear" />
                  <s:element minOccurs="0" maxOccurs="1" name="VehicleConditions" type="tns:ArrayOfQuestion" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModelTrimByYearMake">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="makeDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valueType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModelTrimByYearMakeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModelTrimByYearMakeResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SystemError">
                    <s:complexType>
                      <s:attribute name="code" type="s:string" />
                      <s:attribute name="message" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="UserError" type="tns:ArrayOfString" />
                  <s:element minOccurs="0" maxOccurs="1" name="DataVersion">
                    <s:complexType>
                      <s:attribute name="Number" type="s:string" />
                      <s:attribute name="Date" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="Years" type="tns:ArrayOfYear" />
                  <s:element minOccurs="0" maxOccurs="1" name="VehicleConditions" type="tns:ArrayOfQuestion" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vehicleID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valueType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="conditionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mileage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="equipments" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVehicleValueResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SystemError">
                    <s:complexType>
                      <s:attribute name="code" type="s:string" />
                      <s:attribute name="message" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="UserError" type="tns:ArrayOfString" />
                  <s:element minOccurs="0" maxOccurs="1" name="DataVersion">
                    <s:complexType>
                      <s:attribute name="Number" type="s:string" />
                      <s:attribute name="Date" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="Years" type="tns:ArrayOfYear" />
                  <s:element minOccurs="0" maxOccurs="1" name="VehicleConditions" type="tns:ArrayOfQuestion" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleValueByQuiz">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vehicleID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valueType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mileage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="equipments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quizAnswers" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleValueByQuizResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVehicleValueByQuizResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SystemError">
                    <s:complexType>
                      <s:attribute name="code" type="s:string" />
                      <s:attribute name="message" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="UserError" type="tns:ArrayOfString" />
                  <s:element minOccurs="0" maxOccurs="1" name="DataVersion">
                    <s:complexType>
                      <s:attribute name="Number" type="s:string" />
                      <s:attribute name="Date" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="Years" type="tns:ArrayOfYear" />
                  <s:element minOccurs="0" maxOccurs="1" name="VehicleConditions" type="tns:ArrayOfQuestion" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleValuesForConsumer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vehicleID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mileage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="equipments" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleValuesForConsumerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVehicleValuesForConsumerResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SystemError">
                    <s:complexType>
                      <s:attribute name="code" type="s:string" />
                      <s:attribute name="message" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="UserError" type="tns:ArrayOfString" />
                  <s:element minOccurs="0" maxOccurs="1" name="DataVersion">
                    <s:complexType>
                      <s:attribute name="Number" type="s:string" />
                      <s:attribute name="Date" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="Years" type="tns:ArrayOfYear" />
                  <s:element minOccurs="0" maxOccurs="1" name="VehicleConditions" type="tns:ArrayOfQuestion" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleValueForDealer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vehicleID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mileage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="equipments" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleValueForDealerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVehicleValueForDealerResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SystemError">
                    <s:complexType>
                      <s:attribute name="code" type="s:string" />
                      <s:attribute name="message" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="UserError" type="tns:ArrayOfString" />
                  <s:element minOccurs="0" maxOccurs="1" name="DataVersion">
                    <s:complexType>
                      <s:attribute name="Number" type="s:string" />
                      <s:attribute name="Date" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="Years" type="tns:ArrayOfYear" />
                  <s:element minOccurs="0" maxOccurs="1" name="VehicleConditions" type="tns:ArrayOfQuestion" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckApplicationHealth">
        <s:complexType />
      </s:element>
      <s:element name="CheckApplicationHealthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckApplicationHealthResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetDataVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataVersionResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SystemError">
                    <s:complexType>
                      <s:attribute name="code" type="s:string" />
                      <s:attribute name="message" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="UserError" type="tns:ArrayOfString" />
                  <s:element minOccurs="0" maxOccurs="1" name="DataVersion">
                    <s:complexType>
                      <s:attribute name="Number" type="s:string" />
                      <s:attribute name="Date" type="s:string" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="Years" type="tns:ArrayOfYear" />
                  <s:element minOccurs="0" maxOccurs="1" name="VehicleConditions" type="tns:ArrayOfQuestion" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VehiclePricing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemError">
              <s:complexType>
                <s:attribute name="code" type="s:string" />
                <s:attribute name="message" type="s:string" />
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="UserError" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="DataVersion">
              <s:complexType>
                <s:attribute name="Number" type="s:string" />
                <s:attribute name="Date" type="s:string" />
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Years" type="tns:ArrayOfYear" />
            <s:element minOccurs="0" maxOccurs="1" name="VehicleConditions" type="tns:ArrayOfQuestion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetConditionQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetConditionQuestions" />
  </wsdl:message>
  <wsdl:message name="GetConditionQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetConditionQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentsByVehicleIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetEquipmentsByVehicleID" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentsByVehicleIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetEquipmentsByVehicleIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetYearListSoapIn">
    <wsdl:part name="parameters" element="tns:GetYearList" />
  </wsdl:message>
  <wsdl:message name="GetYearListSoapOut">
    <wsdl:part name="parameters" element="tns:GetYearListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMakeByYearSoapIn">
    <wsdl:part name="parameters" element="tns:GetMakeByYear" />
  </wsdl:message>
  <wsdl:message name="GetMakeByYearSoapOut">
    <wsdl:part name="parameters" element="tns:GetMakeByYearResponse" />
  </wsdl:message>
  <wsdl:message name="GetModelTrimByYearMakeSoapIn">
    <wsdl:part name="parameters" element="tns:GetModelTrimByYearMake" />
  </wsdl:message>
  <wsdl:message name="GetModelTrimByYearMakeSoapOut">
    <wsdl:part name="parameters" element="tns:GetModelTrimByYearMakeResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicleValue" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueByQuizSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicleValueByQuiz" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueByQuizSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleValueByQuizResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValuesForConsumerSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicleValuesForConsumer" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValuesForConsumerSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleValuesForConsumerResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueForDealerSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicleValueForDealer" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueForDealerSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleValueForDealerResponse" />
  </wsdl:message>
  <wsdl:message name="CheckApplicationHealthSoapIn">
    <wsdl:part name="parameters" element="tns:CheckApplicationHealth" />
  </wsdl:message>
  <wsdl:message name="CheckApplicationHealthSoapOut">
    <wsdl:part name="parameters" element="tns:CheckApplicationHealthResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataVersion" />
  </wsdl:message>
  <wsdl:message name="GetDataVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetConditionQuestionsHttpGetIn" />
  <wsdl:message name="GetConditionQuestionsHttpGetOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentsByVehicleIDHttpGetIn">
    <wsdl:part name="VehicleID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentsByVehicleIDHttpGetOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetYearListHttpGetIn" />
  <wsdl:message name="GetYearListHttpGetOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetMakeByYearHttpGetIn">
    <wsdl:part name="year" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMakeByYearHttpGetOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetModelTrimByYearMakeHttpGetIn">
    <wsdl:part name="year" type="s:string" />
    <wsdl:part name="makeDesc" type="s:string" />
    <wsdl:part name="valueType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetModelTrimByYearMakeHttpGetOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueHttpGetIn">
    <wsdl:part name="vehicleID" type="s:string" />
    <wsdl:part name="valueType" type="s:string" />
    <wsdl:part name="conditionType" type="s:string" />
    <wsdl:part name="mileage" type="s:string" />
    <wsdl:part name="zipCode" type="s:string" />
    <wsdl:part name="equipments" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueHttpGetOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueByQuizHttpGetIn">
    <wsdl:part name="vehicleID" type="s:string" />
    <wsdl:part name="valueType" type="s:string" />
    <wsdl:part name="mileage" type="s:string" />
    <wsdl:part name="zipCode" type="s:string" />
    <wsdl:part name="equipments" type="s:string" />
    <wsdl:part name="quizAnswers" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueByQuizHttpGetOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValuesForConsumerHttpGetIn">
    <wsdl:part name="vehicleID" type="s:string" />
    <wsdl:part name="mileage" type="s:string" />
    <wsdl:part name="zipCode" type="s:string" />
    <wsdl:part name="equipments" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValuesForConsumerHttpGetOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueForDealerHttpGetIn">
    <wsdl:part name="vehicleID" type="s:string" />
    <wsdl:part name="mileage" type="s:string" />
    <wsdl:part name="zipCode" type="s:string" />
    <wsdl:part name="equipments" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueForDealerHttpGetOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="CheckApplicationHealthHttpGetIn" />
  <wsdl:message name="CheckApplicationHealthHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetDataVersionHttpGetIn" />
  <wsdl:message name="GetDataVersionHttpGetOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetConditionQuestionsHttpPostIn" />
  <wsdl:message name="GetConditionQuestionsHttpPostOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentsByVehicleIDHttpPostIn">
    <wsdl:part name="VehicleID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentsByVehicleIDHttpPostOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetYearListHttpPostIn" />
  <wsdl:message name="GetYearListHttpPostOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetMakeByYearHttpPostIn">
    <wsdl:part name="year" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMakeByYearHttpPostOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetModelTrimByYearMakeHttpPostIn">
    <wsdl:part name="year" type="s:string" />
    <wsdl:part name="makeDesc" type="s:string" />
    <wsdl:part name="valueType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetModelTrimByYearMakeHttpPostOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueHttpPostIn">
    <wsdl:part name="vehicleID" type="s:string" />
    <wsdl:part name="valueType" type="s:string" />
    <wsdl:part name="conditionType" type="s:string" />
    <wsdl:part name="mileage" type="s:string" />
    <wsdl:part name="zipCode" type="s:string" />
    <wsdl:part name="equipments" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueHttpPostOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueByQuizHttpPostIn">
    <wsdl:part name="vehicleID" type="s:string" />
    <wsdl:part name="valueType" type="s:string" />
    <wsdl:part name="mileage" type="s:string" />
    <wsdl:part name="zipCode" type="s:string" />
    <wsdl:part name="equipments" type="s:string" />
    <wsdl:part name="quizAnswers" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueByQuizHttpPostOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValuesForConsumerHttpPostIn">
    <wsdl:part name="vehicleID" type="s:string" />
    <wsdl:part name="mileage" type="s:string" />
    <wsdl:part name="zipCode" type="s:string" />
    <wsdl:part name="equipments" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValuesForConsumerHttpPostOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueForDealerHttpPostIn">
    <wsdl:part name="vehicleID" type="s:string" />
    <wsdl:part name="mileage" type="s:string" />
    <wsdl:part name="zipCode" type="s:string" />
    <wsdl:part name="equipments" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVehicleValueForDealerHttpPostOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:message name="CheckApplicationHealthHttpPostIn" />
  <wsdl:message name="CheckApplicationHealthHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetDataVersionHttpPostIn" />
  <wsdl:message name="GetDataVersionHttpPostOut">
    <wsdl:part name="Body" element="tns:VehiclePricing" />
  </wsdl:message>
  <wsdl:portType name="PricingServiceSoap">
    <wsdl:operation name="GetConditionQuestions">
      <wsdl:input message="tns:GetConditionQuestionsSoapIn" />
      <wsdl:output message="tns:GetConditionQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentsByVehicleID">
      <wsdl:input message="tns:GetEquipmentsByVehicleIDSoapIn" />
      <wsdl:output message="tns:GetEquipmentsByVehicleIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYearList">
      <wsdl:input message="tns:GetYearListSoapIn" />
      <wsdl:output message="tns:GetYearListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMakeByYear">
      <wsdl:input message="tns:GetMakeByYearSoapIn" />
      <wsdl:output message="tns:GetMakeByYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModelTrimByYearMake">
      <wsdl:input message="tns:GetModelTrimByYearMakeSoapIn" />
      <wsdl:output message="tns:GetModelTrimByYearMakeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValue">
      <wsdl:input message="tns:GetVehicleValueSoapIn" />
      <wsdl:output message="tns:GetVehicleValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueByQuiz">
      <wsdl:input message="tns:GetVehicleValueByQuizSoapIn" />
      <wsdl:output message="tns:GetVehicleValueByQuizSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValuesForConsumer">
      <wsdl:input message="tns:GetVehicleValuesForConsumerSoapIn" />
      <wsdl:output message="tns:GetVehicleValuesForConsumerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueForDealer">
      <wsdl:input message="tns:GetVehicleValueForDealerSoapIn" />
      <wsdl:output message="tns:GetVehicleValueForDealerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckApplicationHealth">
      <wsdl:input message="tns:CheckApplicationHealthSoapIn" />
      <wsdl:output message="tns:CheckApplicationHealthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataVersion">
      <wsdl:input message="tns:GetDataVersionSoapIn" />
      <wsdl:output message="tns:GetDataVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PricingServiceHttpGet">
    <wsdl:operation name="GetConditionQuestions">
      <wsdl:input message="tns:GetConditionQuestionsHttpGetIn" />
      <wsdl:output message="tns:GetConditionQuestionsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentsByVehicleID">
      <wsdl:input message="tns:GetEquipmentsByVehicleIDHttpGetIn" />
      <wsdl:output message="tns:GetEquipmentsByVehicleIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYearList">
      <wsdl:input message="tns:GetYearListHttpGetIn" />
      <wsdl:output message="tns:GetYearListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMakeByYear">
      <wsdl:input message="tns:GetMakeByYearHttpGetIn" />
      <wsdl:output message="tns:GetMakeByYearHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModelTrimByYearMake">
      <wsdl:input message="tns:GetModelTrimByYearMakeHttpGetIn" />
      <wsdl:output message="tns:GetModelTrimByYearMakeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValue">
      <wsdl:input message="tns:GetVehicleValueHttpGetIn" />
      <wsdl:output message="tns:GetVehicleValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueByQuiz">
      <wsdl:input message="tns:GetVehicleValueByQuizHttpGetIn" />
      <wsdl:output message="tns:GetVehicleValueByQuizHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValuesForConsumer">
      <wsdl:input message="tns:GetVehicleValuesForConsumerHttpGetIn" />
      <wsdl:output message="tns:GetVehicleValuesForConsumerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueForDealer">
      <wsdl:input message="tns:GetVehicleValueForDealerHttpGetIn" />
      <wsdl:output message="tns:GetVehicleValueForDealerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckApplicationHealth">
      <wsdl:input message="tns:CheckApplicationHealthHttpGetIn" />
      <wsdl:output message="tns:CheckApplicationHealthHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataVersion">
      <wsdl:input message="tns:GetDataVersionHttpGetIn" />
      <wsdl:output message="tns:GetDataVersionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PricingServiceHttpPost">
    <wsdl:operation name="GetConditionQuestions">
      <wsdl:input message="tns:GetConditionQuestionsHttpPostIn" />
      <wsdl:output message="tns:GetConditionQuestionsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentsByVehicleID">
      <wsdl:input message="tns:GetEquipmentsByVehicleIDHttpPostIn" />
      <wsdl:output message="tns:GetEquipmentsByVehicleIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYearList">
      <wsdl:input message="tns:GetYearListHttpPostIn" />
      <wsdl:output message="tns:GetYearListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMakeByYear">
      <wsdl:input message="tns:GetMakeByYearHttpPostIn" />
      <wsdl:output message="tns:GetMakeByYearHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModelTrimByYearMake">
      <wsdl:input message="tns:GetModelTrimByYearMakeHttpPostIn" />
      <wsdl:output message="tns:GetModelTrimByYearMakeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValue">
      <wsdl:input message="tns:GetVehicleValueHttpPostIn" />
      <wsdl:output message="tns:GetVehicleValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueByQuiz">
      <wsdl:input message="tns:GetVehicleValueByQuizHttpPostIn" />
      <wsdl:output message="tns:GetVehicleValueByQuizHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValuesForConsumer">
      <wsdl:input message="tns:GetVehicleValuesForConsumerHttpPostIn" />
      <wsdl:output message="tns:GetVehicleValuesForConsumerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueForDealer">
      <wsdl:input message="tns:GetVehicleValueForDealerHttpPostIn" />
      <wsdl:output message="tns:GetVehicleValueForDealerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckApplicationHealth">
      <wsdl:input message="tns:CheckApplicationHealthHttpPostIn" />
      <wsdl:output message="tns:CheckApplicationHealthHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataVersion">
      <wsdl:input message="tns:GetDataVersionHttpPostIn" />
      <wsdl:output message="tns:GetDataVersionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PricingServiceSoap" type="tns:PricingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConditionQuestions">
      <soap:operation soapAction="http://www.aic.com/KBB/WebServices/GetConditionQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentsByVehicleID">
      <soap:operation soapAction="http://www.aic.com/KBB/WebServices/GetEquipmentsByVehicleID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearList">
      <soap:operation soapAction="http://www.aic.com/KBB/WebServices/GetYearList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMakeByYear">
      <soap:operation soapAction="http://www.aic.com/KBB/WebServices/GetMakeByYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModelTrimByYearMake">
      <soap:operation soapAction="http://www.aic.com/KBB/WebServices/GetModelTrimByYearMake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValue">
      <soap:operation soapAction="http://www.aic.com/KBB/WebServices/GetVehicleValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueByQuiz">
      <soap:operation soapAction="http://www.aic.com/KBB/WebServices/GetVehicleValueByQuiz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValuesForConsumer">
      <soap:operation soapAction="http://www.aic.com/KBB/WebServices/GetVehicleValuesForConsumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueForDealer">
      <soap:operation soapAction="http://www.aic.com/KBB/WebServices/GetVehicleValueForDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckApplicationHealth">
      <soap:operation soapAction="http://www.aic.com/KBB/WebServices/CheckApplicationHealth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataVersion">
      <soap:operation soapAction="http://www.aic.com/KBB/WebServices/GetDataVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PricingServiceSoap12" type="tns:PricingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConditionQuestions">
      <soap12:operation soapAction="http://www.aic.com/KBB/WebServices/GetConditionQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentsByVehicleID">
      <soap12:operation soapAction="http://www.aic.com/KBB/WebServices/GetEquipmentsByVehicleID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearList">
      <soap12:operation soapAction="http://www.aic.com/KBB/WebServices/GetYearList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMakeByYear">
      <soap12:operation soapAction="http://www.aic.com/KBB/WebServices/GetMakeByYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModelTrimByYearMake">
      <soap12:operation soapAction="http://www.aic.com/KBB/WebServices/GetModelTrimByYearMake" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValue">
      <soap12:operation soapAction="http://www.aic.com/KBB/WebServices/GetVehicleValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueByQuiz">
      <soap12:operation soapAction="http://www.aic.com/KBB/WebServices/GetVehicleValueByQuiz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValuesForConsumer">
      <soap12:operation soapAction="http://www.aic.com/KBB/WebServices/GetVehicleValuesForConsumer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueForDealer">
      <soap12:operation soapAction="http://www.aic.com/KBB/WebServices/GetVehicleValueForDealer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckApplicationHealth">
      <soap12:operation soapAction="http://www.aic.com/KBB/WebServices/CheckApplicationHealth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataVersion">
      <soap12:operation soapAction="http://www.aic.com/KBB/WebServices/GetDataVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PricingServiceHttpGet" type="tns:PricingServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetConditionQuestions">
      <http:operation location="/GetConditionQuestions" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentsByVehicleID">
      <http:operation location="/GetEquipmentsByVehicleID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearList">
      <http:operation location="/GetYearList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMakeByYear">
      <http:operation location="/GetMakeByYear" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModelTrimByYearMake">
      <http:operation location="/GetModelTrimByYearMake" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValue">
      <http:operation location="/GetVehicleValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueByQuiz">
      <http:operation location="/GetVehicleValueByQuiz" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValuesForConsumer">
      <http:operation location="/GetVehicleValuesForConsumer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueForDealer">
      <http:operation location="/GetVehicleValueForDealer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckApplicationHealth">
      <http:operation location="/CheckApplicationHealth" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataVersion">
      <http:operation location="/GetDataVersion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PricingServiceHttpPost" type="tns:PricingServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetConditionQuestions">
      <http:operation location="/GetConditionQuestions" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentsByVehicleID">
      <http:operation location="/GetEquipmentsByVehicleID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearList">
      <http:operation location="/GetYearList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMakeByYear">
      <http:operation location="/GetMakeByYear" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModelTrimByYearMake">
      <http:operation location="/GetModelTrimByYearMake" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValue">
      <http:operation location="/GetVehicleValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueByQuiz">
      <http:operation location="/GetVehicleValueByQuiz" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValuesForConsumer">
      <http:operation location="/GetVehicleValuesForConsumer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleValueForDealer">
      <http:operation location="/GetVehicleValueForDealer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckApplicationHealth">
      <http:operation location="/CheckApplicationHealth" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataVersion">
      <http:operation location="/GetDataVersion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PricingService">
    <wsdl:port name="PricingServiceSoap" binding="tns:PricingServiceSoap">
      <soap:address location="http://kbb.services.autobytel.com/KBBWebService/PricingService.asmx" />
    </wsdl:port>
    <wsdl:port name="PricingServiceSoap12" binding="tns:PricingServiceSoap12">
      <soap12:address location="http://kbb.services.autobytel.com/KBBWebService/PricingService.asmx" />
    </wsdl:port>
    <wsdl:port name="PricingServiceHttpGet" binding="tns:PricingServiceHttpGet">
      <http:address location="http://kbb.services.autobytel.com/KBBWebService/PricingService.asmx" />
    </wsdl:port>
    <wsdl:port name="PricingServiceHttpPost" binding="tns:PricingServiceHttpPost">
      <http:address location="http://kbb.services.autobytel.com/KBBWebService/PricingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>